.profile {
}

.profileImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.profileData {
    padding: 10px;
}

.contactsTitle {
    font-size: 20px;
}

.contactsItems {
    margin-left: 10px;
}

.myPosts {
    padding: 10px;
}

.myPostsTitle {
    margin-bottom: 5px;
}

.avatarImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.addPostForm {
    margin-bottom: 15px;
}

.addPostText textarea {
    padding: 5px;
    resize: none;
}

.addPostBtn {
    padding: 5px;
}

.post {
    margin-bottom: 5px;
}