.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input {
    outline: none;
    border: 2px solid white;
    resize: none;
}

.input:focus {
    border: 2px solid #000000;
}

.inputWrapper.error .input {
    border: 2px solid red;
}

.errorSpan {
    color: red;
}