.profile {

}

.profileImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.profileData {
    padding: 0 10px;
}

.myPosts {
    padding: 10px;
}

.myPostsTitle {
    margin-bottom: 5px;
}

.avatarImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.addPost {
    margin-bottom: 15px;
}

.addPostText {
    padding: 5px;
    resize: none;
}

.addPostBtn {
    padding: 5px;
}

.post {
    margin-bottom: 5px;
}