* {
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.app {
    display: grid;
    grid-template-areas:
            'h h'
            'n p';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 200px 1fr;
    grid-gap: 10px;
}





